.loginncontainer {
    background-image: url("../images/img4.jpg");
    background-size: cover;
    background-position: center;
   
    display: flex;
    align-items: center;
    justify-content: center;;
    height: 100vh; 
  }
  .loginn {
    text-align: center;
  }
  
  .loginn button {
    margin: 10px;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(59, 56, 54);
    cursor: pointer;
    color: rgb(56, 108, 206);
    transition: background-color 0.3s;
  }
  
  .loginn button:hover {
    background-color: #eee;
  }
  
  .loginn button a {
    text-decoration: none;
    color: inherit;
  }